.padding-x {
    .md & {
        padding-left: $item-md-padding-left;
        padding-right: $item-md-padding-right;
    }

    .ios & {
        padding-left: $item-ios-padding-left;
        padding-right: $item-ios-padding-right;
    }

    .wp & {
        padding-left: $item-wp-padding-left;
        padding-right: $item-wp-padding-right;
    }
}

.margin-x {
    .md & {
        margin-left: $item-md-padding-left;
        margin-right: $item-md-padding-right;
    }

    .ios & {
        margin-left: $item-ios-padding-left;
        margin-right: $item-ios-padding-right;
    }

    .wp & {
        margin-left: $item-wp-padding-left;
        margin-right: $item-wp-padding-right;
    }
}